body{
    margin: 0px;
    padding: 0px;
    /*transform: scale(2.0) translateX(25%) translateY(25%);*/
}

@font-face {
    font-family: Gothic821;
    src: url(fonts/Gothic821.ttf);
}
@font-face {
    font-family: Terminus;
    src: url(fonts/TerminusTTFWindows-4.47.0.ttf);
}
@font-face {
    font-family: FoDisplay;
    src: url(fonts/fallout_display.ttf);
}
@font-face {
    font-family: Crasng;
    src: url(fonts/Crasng.ttf);
}

$font-small:    FoDisplay, Terminus, sans-serif;
$color-small: #48fc00f0;//rgb(72, 252, 0);
$color-small2: #48fc00A0;
$font-big: Gothic821, 'Comic Sans MS', cursive;
$color-big:  #c4a028;

$bg-black:      #040c00;
$bg-rust:       #383020;

label {
    
}

img {
    display: block;
    position: absolute;
    width: 640px;
    height: 480px;
    top: 0px;
    left: 0px;
}

/*bg {
    position: absolute;
    display: block;
}*/

.lb {
    position: absolute;
}
.row1{
    position: absolute;
    top: 3px;
    /*height: 22px;*/
}
.cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: $font-big;
    font-size: 22px;
    line-height: 20px;
    color: $color-big;
    position: absolute;
    text-align: center;
}
span {
    vertical-align: middle;
}
.name{
    left: 25px;
    width: 125px;
}
.age{
    left: 165px;
    width: 60px;
}
.sex{
    left: 240px;
    width: 70px;
}

.stats{
    text-align: center;
    /*font-size: 22px;*/
    line-height: 18px;
    /*color: #c4a028;*/
    position: absolute;
}

.stat-row {
    position: absolute;
}

@for $i from 0 through 6 {
.stat-row:nth-child(#{$i+1}) {
    top: 39px+$i*33;
}}

.stat-row div:first-child{
    position: absolute;
    color: rgb(196, 160, 40);
    font-family: Gothic821, 'Comic Sans MS', cursive;
    font-size: 30px;
    
    width: 35px;
    left: 20px;
}
.stat-row div:nth-child(2){
    position: absolute;
    color: rgb(252, 252, 252);
    font-family: Crasng, Helvetica, sans-serif;
    font-size: 24px;

    letter-spacing: 3px;    
    width: 25px;
    left: 63px;
}
.stat-row div:nth-child(3){
    position: absolute;
    color: $color-small;
    font-family: $font-small;
    font-size: 8px;
    
    width: 56px;
    left: 101px;
    top: 1px;
}

.skills{
    text-align: left;
    /*font-size: 22px;*/
    line-height: 18px;
    /*color: #c4a028;*/
    position: absolute;
}
.skill-row {
    position: absolute;
    color: $color-small;
    font-family: $font-small
}

@for $i from 0 through 17 {
.skill-row:nth-child(#{$i+1}) {
    top: 22px + $i*11;
}}

.skill-row div:nth-child(1){
    position: absolute;
    font-size: 8px;
    
    width: 200px;
    left: 375px;
}
.skill-row div:nth-child(2){
    position: absolute;
    font-size: 8px;
    
    width: 30px;
    left: 585px;
}
.skill-tagged{
    color: rgb(171, 171, 171);
}

.tab-level {
    position: absolute;
    font-family: $font-small;
    font-size: 8px;
    color: $color-small;
    text-align: left;
    left: 30px;
    top: 279px;
}
.tab-level p{
    margin: 1px;
}
.clients-body {
    background-color: $bg-rust;
    background-image: url("bg.png");
}
.clients-table{
    font-family: $font-small;
    font-size: 11px;
    color: $color-small2;
    //border: 1px solid black;
    //margin: 5px;
    padding: 5px;
    empty-cells: hide;
    border-spacing: 5px;
}
.clients-table th{
    color: $color-big;
    font-family: $font-big;
    font-size: 20px;
}
.clients-table td{
    background-color: $bg-black;
    border: 1px solid black;
    //margin: 5px;
    padding: 5px 5px 3px 5px;
    white-space: nowrap;
    text-align: center;
    border: 3px solid #bc9054;
    //line-height: 20px;
    vertical-align: bottom;

    border-image: 
    linear-gradient(
      190deg, 
      #1c1c1cFF 0%,
      #201800FF 10%,
      #483804C0 50%,
      #947c6080 70%,
      #ac8044B0 90%,
      #f8d4a480 100%
    ) 1;
}

.client-cell-name {
    text-align: left !important;
    
    a {
        text-decoration: none !important;
        color: $color-small;
    }
    //background-color: snow;
}

.client-cell-ALIVE {
    color: $color-small;
}
.client-cell-KO {
    color: thistle;
}
.client-cell-DYING {
    color: tomato;
}
.client-cell-DEAD {
    color: grey;
}

.client-START {
    color: darkgrey;
}
.client-SURVIVAL {
    color: darkseagreen;
}
.client-ADVENTURE {
    color: gold;
}
.client-ARCADE {
    color: lightsalmon;
}
.client-TEST {
    color: teal;
}

.client-ONLINE {
    color: $color-small;
}
.client-OFFLINE {
    color: grey;
}

.bg-green {
    color: lightgreen;
}
.bg-grey {
    color: grey;
}

.enabler {
    display: none;
}
.enabler_label {
    color: grey;
    cursor: pointer;
}
.enabler:checked + .enabler_label {
    color: $color-small;
}