<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>Stat list - {{nickname}}</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/charsheet.css" />
    <!---<meta name="viewport" content="user-scalable=no, width=device-width" />-->
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
</head>
<body>
    <img class="bg" src="/static/character.png"/>
    <!---<div class="row1">
        <div class="lb name"><label>QTHREE</label></div>
        <div class="lb age"><label>28</label></div>
        <div class="lb sex"><label>M</label></div>
    </div>-->
    <div class="row1">
        <div class="cell name"><span>{{nickname}}</span></div>
        <div class="cell age"><span>{{age}}</span></div>
        <div class="cell sex"><span>{{sex}}</span></div>
    </div>
    <div class="tab-level">
        <span>
            <p>Уровень: {{level}}</p>
            <p>Опыт: {{exp}}</p>
            <p>След. ур.: {{levelup_exp}}</p>
        </span>
    </div>
    <div class="stats">
        {% for field in stat_fields %}
            <div style="top: {{39+loop.index0*33}}px" class="stat-row">
                <div class="stat-cell"><span>{{field.name}}</span></div>
                <div class="stat-cell"><span>{{field.value.0}}{{field.value.1}}</span></div>
                <div class="stat-cell"><span>{{field.title}}</span></div>
            </div>
        {% endfor %}
    </div>
    <div class="skills">
        {% for field in skill_fields %}
            <div style="top: {{22+loop.index0*11}}px" class="skill-row {%
                if field.tagged -%}
                skill-tagged
                {% endif -%}
            ">
                <div class="skill-cell"><span>{{field.name}}</span></div>
                <div class="skill-cell"><span>{{field.value}}%</span></div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
