{% extends "base.html" %}
{% block title %}Clients{% endblock title %}
{% block content %}
<body class="clients-body" onload="load_settings(); update_rows();">
<script>
var clients_table_settings = null;
var checkbox_hide_dead = null;
var checkbox_hide_offline = null;

function load_settings() {
    var json = localStorage.getItem('clients_table_settings');
    if (json) {
        clients_table_settings = JSON.parse(json);
    } else {
        clients_table_settings = {
            hiding_dead: false,
            hiding_offline: false,
        };
    }
    checkbox_hide_dead = document.getElementById("hide_dead");
    checkbox_hide_dead.checked = clients_table_settings.hiding_dead;

    checkbox_hide_offline = document.getElementById("hide_offline");
    checkbox_hide_offline.checked = clients_table_settings.hiding_offline;
}

function save_settings() {
    var json = JSON.stringify(clients_table_settings) || null;
    localStorage.setItem('clients_table_settings', json);
}

function update_rows() {
    clients_table_settings.hiding_dead = checkbox_hide_dead.checked;
    clients_table_settings.hiding_offline = checkbox_hide_offline.checked;
    save_settings();

    var rows = document.getElementsByClassName('client-row');
    for (var i = 0; i < rows.length; i++) {
        var el = rows[i];
        var cl = el.classList;
        if (
            (clients_table_settings.hiding_offline && cl.contains('client-offline')) ||
            (clients_table_settings.hiding_dead && cl.contains('client-dead'))
        ) {
            el.style.visibility = "collapse";
        } else {
            el.style.visibility = "visible";
        }
    }
}
</script>
<table class="clients-table">
<tr>
<td colspan="2">
    <input type="checkbox" class="enabler" id="hide_dead" onchange="update_rows()"><label class="enabler_label" for="hide_dead">Hide dead</label>
</td>
<td colspan="2">
    <input type="checkbox" class="enabler" id="hide_offline" onchange="update_rows()"><label class="enabler_label" for="hide_offline">Hide offline</label>
</td>
</tr>
    <tr>
        <th>Seen</th>
        <th>Status</th>
        <th>Nickname</th>
        <th>ID</th>
        <th>LVL</th>
        <th>HP</th>        
        <th>MapId</th>
        <th>MapPid</th>
        <th>Game mode</th>
        <th>Discord</th>
        <th>IPs</th>
    </tr>
    {% for client in clients %}
        <tr
            class = "client-row
                {% if client.info and client.info.cond == 'DEAD' %}
                    client-dead
                {% endif %}
                {% if not client.last_seen or not client.last_seen.1 %}
                    client-offline
                {% endif %}
            "
        >
            {% if client.last_seen %}
                <td
                    {% if client.last_seen.1 %}
                        class="client-ONLINE"
                    {% else %}
                        class="client-OFFLINE"
                    {% endif %}
                >
                    {{client.last_seen.0}}
                </td>
            {% else %}
                <td>?</td>
            {% endif %}

            {% if client.info %}
                <td class="client-cell-{{client.info.cond}}">{{client.info.cond}}</td>
            {% else %}
                <td class="bg-grey">?</td>
            {% endif %}

            <td class="client-cell-name"><a href="client/{{client.name|safe|urlencode}}">{{client.name}}</a></td>

            {% if client.info %}
                <td>{{client.info.id}}</td>
                <td>{{client.info.lvl}}</td>
                <td>{{client.info.hp}}</td>
                <td>{{client.info.map_id}}</td>
                <td>{{client.info.map_pid}}</td>
                <td class="client-{{client.info.gamemode}}">{{client.info.gamemode}}</td>

                {% if client.info.discord.Ok %}
                    {% set owner = client.info.discord.Ok %}
                
                    {% if owner.Id %}
                        <td class="client-owner-id">{{owner.Id}}</td>
                    {% elif owner.Name %}
                        <td class="client-owner-name">{{owner.Name}}</td>
                    {% else %}
                        <td class="client-owner-name">{{owner.NickName.0}} <span>{{owner.NickName.1}}</span></td>
                    {% endif %}
                {% else %}
                    <td class="client-owner-error">{{client.info.discord.Err}}</td>
                {% endif %}

                {% for ip in client.info.ip %}
                    <td>{{ip}}</td>
                {% endfor %}
            {% else %}
                <td colspan="7">NOT LOADED</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
</body>
{% endblock content %}
