{%- if kind == "Online" -%}
    {%- if status.connections > 0 -%}
        Players: {{status.connections}}
    {%- else -%}
        Wasteland
    {%- endif -%}
    {%- if status.day_time == "Night" -%}
        , Night
    {%- elif status.day_time == "Morning" -%}
        , Morning
    {%- elif status.day_time == "Day" -%}
        , Day
    {%- elif status.day_time == "Evening" -%}
        , Evening
    {%- endif -%}
{%- elif kind == "Unwell" -%}
Server feels bad
{%- elif kind == "Offline" -%}
Connection loss
{%- else -%}
???
{%- endif -%}